name: Hello World

on:
  push:
    oti:
      - main
  pull_request:
    types: [ closed ]
    branches:
      - main

  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello world
        run: echo "hello mundo"
