name: Hello World

on:
  push:
    branches:
      - main
  pull_request:
    types: [ closed ]
    branches:
      - main

  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Say hello world
        if: github.event_name == 'push'
        run: echo "hello mundo2"
